@media print {
  body {
    font-size: 10pt; /* Adjust as needed */
  }

  .card,
  .table,
  .card-text,
  .form-control {
    font-size: 10pt !important;
  }

  .card-header h5 {
    font-size: 10pt !important;
  }

  textarea {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    resize: none !important;
  }
}